{{ header; 
$theme_options = $this->registry->get('theme_options');
$config = $this->registry->get('config'); 
include('catalog/view/theme/'.$config->get('config_template').'/template/themeglobal/themeglobal_top.twig')}}
<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/MP/sell.css">
{% if error_warning %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning}}</div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success"><i class="fa fa-check-circle"> </i> {{ success}}</div>
  {% endif %}
    <fieldset>
      {% if isMember %}
        {% if chkIsPartner %}
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">{{ order}}</div>
            <div class="col-lg-4 col-md-4 col-sm-6">{{ sale}}</div>
            <div class="col-lg-4 col-md-4 col-sm-6">{{ customer}}</div>
          </div>
          <div class="row">
              <div class="col-sm-6">{{ low_stock}}</div>
              <div class="col-sm-6">
                {{ order_status}}
              </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12">{{ map}}</div>
            <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12">{{ chart}}</div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12"> {{ recent}} </div>
          </div>
        {% endif %}
      {% else %}
      <div class="text-danger">
        {{ error_warning_authenticate}}
      </div>
      {% endif %}

    </fieldset>
<?php include('catalog/view/theme/'.$config->get('config_template').'/template/themeglobal/themeglobal_bottom.twig')}}
{{ footer}}