{{ header }}
{% set class = 'col-sm-12' %}
<div class="container">
  <div class="row">
    <div id="content" class="{{ class}}">
      <div class="text-center">
        <h3 class="text-info">{{ sell_header}}</h3>
        <a href="index.php?route=account/register" type="button" class="btn btn-primary btn-lg">
          {{ sell_title}}
        </a>
      </div>
      <br/>

      <ul class="nav nav-tabs">
        {% if tabs %}
          {% for key, value in tabs %}
              <li {% if not key %} class="active" {% endif %}><a href="{{ '#tab-' ~ key}}" data-toggle="tab">{{ value['hrefValue']}}</a></li>
          {% endfor %}
        {% endfor %}          
      </ul>

      <div class="tab-content">
        {% for key, value in tabs %}
          <div id="{{ 'tab-' ~ key}}" class="tab-pane {% if not key %} active {% endif %}">{{ value['description']}}</div>
        {% endfor %}
      </div>

      <br/>
      {% if showpartners %}

        <h3 class="text-info">
          <b>{{ text_long_time_seller}}</b>
        </h3>
        <br/>
        <div class="row">
          {% for partner in partners %}
          <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-thumb">
              
              <div class="text-center">
                <a href="{{ partner['sellerHref']}}">
                {% if partner['thumb'] %}
                  <img src="{{ partner['thumb']}}" alt="{{ partner['name']}}" 
                  title="{{ partner['name']}}" class="partner-thumb img-circle"/>
                {% else %}
                  <div class="partner-thumb" style="background-color:{{ partner['backgroundcolor']}}"></div>
                {% endif %}
                </a>

                <h4>
                  {{ text_seller}}<span data-toggle="tooltip" title="{{ text_seller}}"><i class="fa fa-user"></i></span>
                  <a href="{{ partner['sellerHref']}}">{{ partner['name']}}</a>
                </h4>

                {% if partner['country'] %}
                  <p>
                    {{ text_from}}<span data-toggle="tooltip" title="{{ text_from}}"><i class="fa fa-home"></i></span>                  
                    <b>{{ partner['country']}}</b>
                  </p>
                {% endif %}

                <p>
                  {{ text_total_products}}                 
                  <b>{{ partner['total_products']}}</b>
                </p>
              </div>

            </div>
          </div>
          {% endif %}
          <?php //for seller list }}
        </div>
      {% endif %}

      {% if showproducts %}
        
        <h3 class="text-info">
          <b>{{ text_latest_product}}</b>
        </h3>
        <br/>

        <div class="row">
          {% for product in latest  %}
          <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="product-thumb seller-thumb" id="{{ product['product_id']}}">
              <div class="image"><a href="{{ product['href']}}"><img src="{{ product['thumb']}}" alt="{{ product['name']}}" title="{{ product['name']}}" class="img-responsive" /></a></div>
              <div>
                <div class="caption">
                  <h4><a href="{{ product['href']}}">{{ product['name']}}</a></h4>
                  <p style="height:100px;overflow:hidden;">{{ product['description']}}</p>
                  {% if product['rating'] %}
                  <div class="rating">
                    {% for i in 1..5 %}
                    {% if product['rating'] < i %}
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    {% else %}
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                    {% endif %}
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if product['price'] %}
                  <p class="price">
                    {% if not product['special'] %}
                    {{ product['price']}}
                    {% else %}
                    <span class="price-new">{{ product['special']}}</span> <span class="price-old">{{ product['price']}}</span>
                    {% endif %}
                    {% if product['tax'] %}
                    <span class="price-tax">{{ text_tax}} {{ product['tax']}}</span>
                    {% endif %}
                  </p>
                  {% endif %}
                </div>

                <div class="seller_info text-white">
                  <?php if($product['avatar']) { }}
                    <img class="img-circle float-left" src="{{ product['avatar']}}"/>
                  {% else %}
                    <div class="div-img-circle float-left" style="background-color:{{ product['backgroundcolor']}}"></div>
                  {% endif %}
                  <p class="float-right">
                    {{ text_seller}} 
                    <span data-toggle="tooltip" title="{{ text_seller}}"><i class="fa fa-user"></i></span>
                    <a href="{{ product['sellerHref']}}" target="_blank"> <b class="text-white" >{{ product['seller_name']}}</b></a>
                  </p>

                  {% if product['country'] %}
                    <br/>
                    <p class="float-right">
                      {{ text_from}}
                      <span data-toggle="tooltip" title="{{ text_from}}"><i class="fa fa-home"></i></span>
                      <b>{{ product['country']}}</b>
                    </p>
                  {% endif %}
                </div>
                <div class="clear"></div>

                <div class="button-group">
                  <button type="button" onclick="cart.add('{{ product['product_id']}}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart}}</span></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_wishlist}}" onclick="wishlist.add('{{ product['product_id']}}');"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_compare}}" onclick="compare.add('{{ product['product_id']}}');"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
     {% endif %}


    </div>
  </div>
</div>


<script>
var seller_display = function (data){
  thisid = data.currentTarget.id; //get id of current selector
  $('#'+ thisid + ' .seller_info').slideDown(); 
  $('#'+ thisid).unbind('mouseenter');
}
var seller_hide = function (data){
  thisid = data.currentTarget.id; //get id of current selector
  $('#'+ thisid + ' .seller_info').slideUp('slow',function(){
    $('.seller-thumb').bind('mouseenter',seller_display);
  }); 
}

$('.seller-thumb').bind({'mouseenter' : seller_display,'mouseleave':seller_hide });

</script>
{{ footer}}
